:root, * {
    font-family: monospace;
    text-decoration: none;
    color: #FFF;
}

html {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    height: 100%;
}

body {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    margin: 0;
    background-color: #222;
}

#disclaimer {
    display: flex;
    flex-flow: column nowrap;

    padding: 1rem 2rem 2rem 2rem;
    border-radius: 0.5rem;

    background-color: #444;
    text-align: center;
}

#link-row {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

a {
    font-size: large;
    text-decoration: underline;
    color: lightblue;
}
a:visited {
    color: plum;
}